@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Righteous&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Plus Jakarata Sans', sans-serif;
	background-color: whitesmoke;
	max-width: 1550px;
}

a.btn {
	font-weight: 600;
}
